.Toolbar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
   justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    background-color: white;
}

.Toolbar nav {
    height: 100%
}

.NavbarAndAccount{
    display: flex;
    flex-direction: row;
}

.Menu {
    height: 40%;
    margin-top: 40px;
    Color: #5e1d8a;
    font-weight: 700;

}

.LogoAndMenu{
  display: inline-flex;
}

@media(max-width:800px){
    .smallScreenOnly{
        display: flex;
        flex-direction: column;
    }

    .NavbarAndAccount{
        display: flex;
        flex-direction: column;
    }

}