.AddOrder{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.Text {
    margin: 20px 10px 0 30px;
    font-weight: 400;
}
.ActionItems {
    display: flex;
    justify-content: space-around;
}
.ReceivedPayment,
.ViewDetails{
    display: inline-flex;
    font-size: small;
}
.ReceivedPayment:hover,
.ViewDetails:hover{
    color: #5e1d8a;
    border-bottom: 1px solid #5e1d8a;
}

.addMoreIcon,
.ViewDetailsIcon{
    margin: 2px 0 0 2px;
}