.Order {
    margin: 130px auto;
    width: 53em;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    border: 2px solid #eee;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.ReceivedPayment,
.EditOrder {
    margin: 10px auto;
    width:auto;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    border: 2px solid #eee;
    display: flex;
    align-content: center;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}

.ReceivedPaymentTitle,
.AddMoreOrderTitle {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-weight: 600;
    color: #5e1d8a;
    justify-content: center;
}

.CloseIcon {
    margin-top: 50px;
    width: 100px;
}
.AddMoreOrderButton {
    margin: 3px  0  0 4px;
}

.MorePaymentElement,
.MoreOrderElement {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 8px;
    width: 50em;
}

.TotalAmount {
    color: green;
    font-weight: 700;
    margin: 10px;
}
.Title {
    color: #5e1d8a;
    margin-top: 7px;
    font-weight: 600;
}

.Input {
    display: block;
}

.ErrorMessage {
    font-size: 16px;
    color: red;
}

@media (max-width: 600px) {
    .Order{
        width: 400px
    }

    .addMoreOrder {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-weight: 600;
        color: #5e1d8a;
        justify-content: center;
    }

}