.no-suggestions {
    color: #999;
    padding: 5px;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    margin-left: 20px;
    max-height: 145px;
    overflow-y: auto;
    padding-left: 0;
    width: auto;
    box-shadow: 0 2px 2px #e7caca;
    position: absolute;
    min-width: 150px;
    z-index: 100;
    background-color: #eee;
    border-radius: 5px;
}
.suggestions li {
    padding: 10px;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #eee;
    color: #5e1d8a;
    cursor: pointer;
    font-weight: 700;
}
